:root {
  --primary-color: #fcd581;
  --secondary-color: #FFF8E8;
  --accent-color1: #A40F23;
  --accent-color2: #015F06;
  --bg-color: #FFFFFF;
  --bg-color2: #f1f1f1;

  --text-color-white: #11080a;
  --text-color-color: #FFF8E8;


  --hero-h1-size: clamp(.5rem, 9vw, 3rem);
  --hero-p-size: clamp(.2rem, 4vw, 1.5rem);
  --heading-size: clamp(.5rem, 5vw, 2rem);
  --nav-link-size-small: clamp(.5rem, 5vw, 2rem);
  --nav-link-size-large: clamp(.5rem, 3vw, 1rem);
}

/* Dark theme overrides */

[data-theme="dark"] {
  --bg-color: #121212;
  --bg-color2: #212122;
  --text-color-white: #FFF8E8;
  --text-color-color: #11080a;
  --accent-color1: #FF6D5F;
  --accent-color2: #1194eb;
  --primary-color: #ffb656;
}

[data-theme="dark"] .btn {
  color: #11080a;
  box-shadow: 0 4px 6px rgba(155, 151, 98, 0.548);
}

[data-theme="dark"] .nav-list a {
  color: #11080a;
}

[data-theme="dark"] .hero-background {
  filter: brightness(0.3) hue-rotate(150deg);
}

[data-theme="dark"] .header-container > div:last-child {
  filter: invert(0%);
}

[data-theme="dark"] .social-icons {
  filter: invert(0%);
}

[data-theme="dark"] footer a {
  filter: brightness(0.3) hue-rotate(150deg);
}

[data-theme="dark"] main a:hover {
  filter: brightness(1.4) hue-rotate(30deg);
}

[data-theme="dark"] .close-ad {
  filter: invert(100%);
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font-style: normal;
  line-height: 1.6;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
}

picture {
  display: block;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color-white);
  font-size: 16px;
  font-family: "Barlow", sans-serif;
  font-style: normal;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--accent-color2);
}

main a:hover {
  filter: brightness(0.5) hue-rotate(30deg);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Archivo Black", sans-serif;
  font-style: normal;
}

h2 {
  margin-bottom: 1rem;
}

main {
  min-height: 80vh;
  padding: 1rem;
  max-width: 1200px;
  margin: 2rem auto;
}

/* Header */

header {
  background-color: var(--accent-color1);
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  max-width: 1200px;
  margin: 0 auto;
}

.nav-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 60vw;
  height: 100vh;
  background-color: var(--primary-color);
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  z-index: 999;
  padding-top: 65px;
}

.nav-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  height: 100%;
}

.nav-menu.open {
  transform: translateX(0);
  box-shadow: 6px 0 6px -2px rgba(0, 0, 0, 0.5);
}

.nav-list a {
  color: var(--text-color-white);
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-weight: bold;
  position: relative;
}

.logo {
  justify-self: start;
  width: 100px;
  z-index: 1000;
}

.highlight {
  color: var(--accent-color2);
  font-style: italic;
}

.nav-list a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 100%;
  height: 2px;
  background-color: var(--accent-color2);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.4s ease;
}

.nav-list li.current a::after {
  transform: scaleX(1);
  animation: underlineSlide 0.5s ease-in-out;
}

@keyframes underlineSlide {
  from {
    transform: scaleX(0);
  }

  to {
    transform: scaleX(1);
  }
}

/* Hero */

.hero {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.hero-content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 60px);
  gap: 2rem;
  text-align: center;
  padding: 1rem;
  position: relative;
  z-index: 3;
  color: var(--text-color-white);
}

.animation-box {
  position: absolute;
  right: 0;
  bottom: -150px;
  z-index: 2;
  max-width: 340px;
}

.hero-content > div:first-child h2 {
  font-size: clamp(1.5rem, 5vw, 3rem);
  color: var(--accent-color1);
  font-weight: 800;
  margin-bottom: .5rem;
}

.hero-content > div:first-child p {
  font-size: clamp(1rem, 3vw, 1.5rem);
  font-weight: 600;
  margin-bottom: 1rem;
}

.hero-background {
  display: none;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.rotating-image {
  animation: spin 30s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.btn {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  background-color: var(--primary-color);
  color: var(--text-color-white);
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(90, 51, 19, 0.548);
  text-decoration: none;
  font-weight: bold;
}

.header-container > div:last-child {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: .5rem;
  filter: invert(100%);
}

#PageToggle,
#HamMenu {
  width: 40px;
  height: 40px;
}

/* Hamburger*/

#HamMenu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6px;
  padding: 0;
}

.bar {
  width: 30px;
  height: 4px;
  background-color: #000;
  border-radius: 2px;
  transition: 0.3s ease;
}

#HamMenu.open .top {
  transform: translateY(10px) rotate(45deg);
}

#HamMenu.open .middle {
  opacity: 0;
}

#HamMenu.open .bottom {
  transform: translateY(-10px) rotate(-45deg);
}

/* cards */

.container-box {
  padding: 1rem;
  background-color: var(--bg-color2);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem;
}

.container-box img {
  max-width: 60px;
}

/* Home */

.welcome-cards {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  margin: 0 auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  max-width: 900px;
}

.category-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  margin-bottom: 2rem;
}

.category-box {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 1rem;
  overflow: hidden;
  background-color: var(--bg-color2);
  position: relative;
  padding: 1rem;
}

/* Target link inside first child div */
.category-box > div:first-child a {
  position: absolute;
  bottom: 1rem;
}

.category-box img {
  align-self: flex-end;
  width: 200px;
  height: auto;
  border-radius: 0.5rem;
}

/* Recipes*/

.recipe-filter {
  max-width: 300px;
}

.recipe-cards {
  display: grid;
  gap: 1rem;
  padding: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  justify-items: center;
}

.recipe-card {
  background-color: var(--bg-color2);
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  max-width: 300px;
  max-height: 500px;
  width: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  gap: 0.5rem;
  padding: 1rem;
  text-align: center;
  transition: transform 0.2s ease-in-out;
  border: 2px solid var(--accent-color2);
}

.recipe-card button {
  background-color: var(--accent-color2);
  color: var(--text-color-color);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.recipe-card img {
  border-radius: 0.5rem;
}

form {
  background-color: var(--bg-color2);
  padding: 1rem;
  border-radius: 0.5rem;
  display: grid;
  gap: 1rem;
  max-width: 800px;
  margin: 0 auto;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Form */

fieldset {
  border: 1px solid var(--border-color, #ccc);
  border-radius: 0.5rem;
  padding: 0.75rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

legend {
  font-weight: bold;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

label {
  font-size: 0.9rem;
}

input:not([type="radio"]):not([type="submit"]),
select,
textarea {
  padding: 0.4rem;
  border: 1px solid #141414;
  border-radius: 0.3rem;
  font-size: 0.9rem;
  width: 100%;
}

input[type="radio"] {
  margin-right: 0.4rem;
}

input[type="submit"] {
  padding: 0.6rem 1rem;
  background-color: var(--primary-color);
  border: 1px solid #8a5d1b;
  border-radius: 0.4rem;
  cursor: pointer;
  font-weight: bold;
}

/* Dialog */

.modal {
  margin: auto;
  border-radius: .5rem;
}

.modal::backdrop {
  background: rgba(48, 30, 15, 0.5);
}

#modal[open] {
  animation: fadeIn 0.3s ease-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

/* Modal Content */

.modal-content {
  background-color: var(--bg-color2);
  color: var(--text-color-white);
  position: relative;
  padding: 60px 1.5rem 1.5rem;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.modal-content div:first-child h2 {
  margin: 0;
  font-size: 2rem;
  text-align: center;
}

.modal-content aside,
.modal-content article {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.modal-content p {
  line-height: 1.6;
}

.modal-content ul {
  padding-left: 1.2rem;
  list-style-type: square;
}

.modal-content img,
.modal-content iframe {
  border-radius: 0.5rem;
}

.favorite-button,
#modalClose {
  background-color: var(--accent-color1);
  color: var(--text-color-color);
  border-radius: 0.5rem;
  font-weight: bold;
  cursor: pointer;
}

.favorite-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
}

#modalClose {
  position: absolute;
  top: 15px;
  right: 15px;
  padding: 1rem;
  border-radius: 50%;
}

/* Join */

.join-form h2 {
  text-align: center;
}

.form-results {
  display: inline-block;
  background-color: var(--bg-color2);
  list-style-type: square;
  list-style-position: inside;
  padding: 1rem;
  border-radius: .5rem;
  margin-top: 1rem;
}

.thankyou {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Attributions */

.attribution-list {
  list-style-type: disc;
  margin-left: 1.5rem;
  line-height: 1.6;
}

.attribution-list li {
  margin-bottom: 0.5rem;
}

/* Footer */

footer {
  background-color: var(--accent-color1);
  color: var(--text-color-color);
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.footer-box {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  max-width: 1200px;
}

.footer-column {
  text-align: center;
}

.footer-nav {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-nav li {
  margin: 0.25rem 0;
}

.footer-nav a {
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
  text-decoration: underline;
  color: var(--primary-color);
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 0.5rem;
  filter: invert(100%);
}

.footer-bottom {
  text-align: center;
  font-size: 0.875rem;
  margin-top: 2rem;
  border-top: 1px solid var(--primary-color);
  ;
  padding-top: 1rem;
  width: 100%;
}

.footer-bottom a {
  display: inline-block;
  margin-top: 0.5rem;
  color: var(--primary-color);
  font-weight: bold;
  text-decoration: underline;
}

@media screen and (max-height: 500px) and (orientation: landscape) {

  .animation-box {
    right: -160px;
  }

  .hero-background {
    display: block;
  }

  .category-box {
    flex-direction: row;
  }

  .category-box a {
    margin-top: 1rem;
    position: static;
    display: block;
  }

  .dialog-sidebar {
    flex-direction: row;
  }
}